<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Checkout</title>
  </head>
  <body>
    {% extends "index.html" %}
    {% block content %}
    {% load static %}
    <script>
        document.addEventListener('DOMContentLoaded', function() {
            var form = document.getElementById('form');
            form.addEventListener('submit', function(e) {
                e.preventDefault();
                console.log("form submitted");
                document.getElementById('form-button').classList.add('hidden');
                document.getElementById('payment-info').classList.remove('hidden');
            });

            if (user != 'AnonymousUser'){
                document.getElementById('user-info').classList.add('hidden')
            }

            document.getElementById('make-payment').addEventListener('click' , function(e){
                submitFormData()
            })

            var total = '{{order.get_cart_total_items}}'
            function submitFormData(){
                console.log('payment done')
                var userFormData = {
                    'name':null,
                    'email':null,
                    'total':total,
                }

                var userShippingInfo = {
                    'address':null,
                    'city':null,
                    'state':null,
                    'pincode':null,
                }

                if (user != 'AnonymousUser'){
                    userShippingInfo.address = form.address.value
                    userShippingInfo.city = form.address.city
                    userShippingInfo.state = form.address.state
                    userShippingInfo.pincode = form.address.pincode
                }

                if (user == 'AnonymousUser'){
                    userFormData.name = form.name.value
                    userFormData.email = form.email.value
                }
            }


        });
    </script>
    
    




    <div class="pt-[65px]">
      <h1 class="bg-white">Checkout</h1>
      <div class='p-2 grid grid-cols-1 gap-4 md:grid-cols-2 w-full'>
        <div class='text-white flex flex-col order-2 border border-[2px] border-[#112244]'>
            <form action="submit" id='form'>
            <h1 class='flex justify-center items-center text-3xl font-bold'>Enter these details :</h1>
            <div id='user-info' class='grid grid-cols-1 md:grid-cols-2 place-items-center text-[#000000]'>
                <div class='m-2'>
                    <input type="text" name='name' placeholder='Enter Name ...' class='rounded m-2'>
                </div>
                <div class='m-2'>
                    <input type="text" name='email' placeholder='Enter Email ...' class='rounded m-2'>
                </div>
            </div>
            
            <br>
            <hr class='mx-4'>
            <br>

            <h1 class='flex justify-center items-center text-3xl font-bold'>Shipping info :</h1>

            <div class='grid drid-cols-1 md:grid-cols-2 place-items-center text-[#000000]'>
                <div class='m-2'>
                    <input type="text" name='address' placeholder='Enter Address ...' class='rounded m-2'>
                </div>
                <div class='m-2'>
                    <input type="text" name='city' placeholder='Enter City ...' class='rounded m-2'>
                </div>
                <div class='m-2'>
                    <input type="text" name='state' placeholder='Enter State ...' class='rounded m-2'>
                </div>
                <div class='m-2'>
                    <input type="text" name='pincode' placeholder='Enter Pin Code ...' class='rounded m-2'>
                </div>
            </div>


            <button type="submit" class="font-bold text-white bg-[#112233] hover:bg-[#223344] rounded-lg p-3 w-full" id="form-button">
                Continue
            </button>
            
            <div class='m-2 px-2 flex justify-center items-center'>
                <h1 class='font-bold text-white border-[2px] rounded-lg p-3 w-full flex justify-center items-center hidden' id="payment-info">
                    < Payment options here >
                    <button type="button" class='border-[2px]' id='make-payment'>
                        Make payment
                    </button>
                </h1>
            </div>
        </form>
        </div>

          <div class='text-white flex flex-col border border-[2px] border-[#112244]'>
            <div class='m-2 px-2 flex justify-center items-center'>
                <button class='font-bold text-white bg-[#112233] hover:bg-[#223344] rounded-lg p-3 w-full'>
                    Back To The Cart
                </button>
            </div>
            
            <br>
            <hr class='mx-4'>
            <br>
            <h1 class='flex justify-center items-center text-3xl font-bold mb-4'>Order Summary :</h1>

            <div class='grid grid-cols-3 border-[1px] border-[#112233] p-2 place-items-center'>
                <h1 class='text-xl'>Items</h1>
                <h1 class='text-xl'>quantity</h1>
                <h1 class='text-xl'>price</h1>
            </div>
            
            {% for item in items %}
            <div class='grid grid-cols-3 border-[1px] border-[#112233] p-2 place-items-center'>
                <h1 class='text-xl'>{{ item.product.name }}</h1>
                <h1 class='text-xl'>{{ item.quantity }}</h1>
                <h1 class='text-xl'>{{ item.product.price }}</h1>
            </div>
            {% endfor %}
            
                <div class='m-2'>
                    <div class='flex justify-between items-center'>
                        <h1 class='text-2xl font-bold p-2'>Total Items :  </h1>
                        <h1 class='text-2xl font-bold p-2 text-[#00D100]'>{{order.get_cart_total_items}} </h1>
                    </div>
                    <div class='flex justify-between items-center'>
                        <h1 class='text-2xl font-bold p-2'>Total Price : </h1>
                        <h1 class='text-2xl font-bold p-2 text-[#00D100]'>₹ {{order.get_cart_total_price}}</h1>
                    </div>
                </div>

        </div>  

    </div>
    </div>

    {% endblock content %}
  </body>
</html>
